@charset "utf-8";

:root {
  font-size: var(--font-size-root);
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-base);
  color: var(--color-default);
  background-color: var(--bgColor-default);
  line-height: var(--line-height-default);
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

a {
  color: var(--color-link);
  text-decoration: none;
}