<a href="#">
  <article class="media">
    <div class="media__fixed">
      <img src="{{img.src}}" alt="{{img.alt}}">
    </div>
    <div class="media__flex">
      <h2 class="media__title">{{title}}</h2>
      <p class="media__text">{{text}}</p>
    </div>
  </article>
</a>